.container {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  img {
    width: 200px;
  }

  .right {
    text-align: center;
  }
}
button {
  width: 80%;
}
