<div class="calendar">
  <mat-spinner *ngIf="!isLoaded">Loading binky data</mat-spinner>
  <full-calendar  *ngIf="isLoaded"
    #calendar
    [handleWindowResize]="true"
    [weekNumbersWithinDays]="true"
    [displayEventTime]="true"
    [header]="{
      left: 'dayGridMonth,listWeek',
      center: 'title',
      right: ' prev,today,next'
    }"
    [events]="events"
    [deepChangeDetection]="true"
    [aspectRatio]="1.8"
    [themeSystem]="'bootstrap'"
    defaultView="dayGridMonth"
    [plugins]="calendarPlugins"
  ></full-calendar>
</div>
