<div class="calendar">
  <div *ngIf="!isLoaded">
    <mat-spinner ></mat-spinner>
    Loading binky data
  </div>

  <full-calendar
    *ngIf="isLoaded"
    #calendar
    [handleWindowResize]="true"
    [weekNumbersWithinDays]="true"
    [displayEventTime]="true"
    [header]="{
      left: 'dayGridMonth,listWeek',
      center: 'title',
      right: ' prev,today,next'
    }"
    [events]="events"
    [deepChangeDetection]="true"
    [themeSystem]="'bootstrap'"
    defaultView="dayGridMonth"
    [plugins]="calendarPlugins"
  ></full-calendar>
</div>
