<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary"> <span>Menu</span> </mat-toolbar>
    <mat-nav-list>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>event</mat-icon>
        </button>
        <span class="nav-button">Event View</span>
      </mat-list-item>

      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>notes</mat-icon>
        </button>
        <span class="nav-button">Notes</span>
      </mat-list-item>

      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>list_alt</mat-icon>
        </button>
        <span class="nav-button">Todos</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>HelperHusky</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
